### Calculate Snow Disappearance Date from Time Series Temperature Data
Using thresholds for maximum daily temperature and daily temperature range, return snow disappearance dates where snow was present the previous day, then disappears. 

**Conditions for Snow Presence:**
1. Maximum daily temperature must be below be 1.5°C 
2. Diurnal temperature cycle (daily temperature range) must be below be 1.5°C 
3. Both of these conditions must be met for at least 48 hours.

In [361]:
import pandas as pd
import numpy as np
import datetime 
from matplotlib import dates
import xarray as xr
import matplotlib.pyplot as plt

Open netCDF files in xarray, convert to pandas dataframe, reset the index, and create a new column with just the date.

In [362]:
CNF = xr.open_dataset("D:\\JohnsWork\\CleElumRidge\\TemperatureData\\CleanedTempData\\CNFTempData.nc")
CNF = CNF.to_pandas()
CNF.reset_index(inplace = True)
CNF['Date']=CNF['Datetime'].dt.date

CNF = xr.open_dataset("D:\\JohnsWork\\CleElumRidge\\TemperatureData\\CleanedTempData\\CNFTempData.nc")
CNF = CNF.to_pandas()
CNF.reset_index(inplace = True)
CNF['Date']=CNF['Datetime'].dt.date

CNF = xr.open_dataset("D:\\JohnsWork\\CleElumRidge\\TemperatureData\\CleanedTempData\\CNFTempData.nc")
CNF = CNF.to_pandas()
CNF.reset_index(inplace = True)
CNF['Date']=CNF['Datetime'].dt.date

CNF = xr.open_dataset("D:\\JohnsWork\\CleElumRidge\\TemperatureData\\CleanedTempData\\CNFTempData.nc")
CNF = CNF.to_pandas()
CNF.reset_index(inplace = True)
CNF['Date']=CNF['Datetime'].dt.date

CNF = xr.open_dataset("D:\\JohnsWork\\CleElumRidge\\TemperatureData\\CleanedTempData\\CNFTempData.nc")
CNF = CNF.to_pandas()
CNF.reset_index(inplace = True)
CNF['Date']=CNF['Datetime'].dt.date

CNF = xr.open_dataset("D:\\JohnsWork\\CleElumRidge\\TemperatureData\\CleanedTempData\\CNFTempData.nc")
CNF = CNF.to_pandas()
CNF.reset_index(inplace = True)
CNF['Date']=CNF['Datetime'].dt.date

Calculate daily maximum, minimum, and range for each sensor.

In [363]:
CNFstats = pd.DataFrame()
CNFstats['1max'] = CNF['CNF1_temp'].groupby(CNF['Date']).max()
CNFstats['1min'] = CNF['CNF1_temp'].groupby(CNF['Date']).min()
CNFstats['1range'] = CNFstats['1max']-CNFstats['1min']

CNFstats['2max'] = CNF['CNF2_temp'].groupby(CNF['Date']).max()
CNFstats['2min'] = CNF['CNF2_temp'].groupby(CNF['Date']).min()
CNFstats['2range'] = CNFstats['2max']-CNFstats['2min']

CNFstats['3max'] = CNF['CNF3_temp'].groupby(CNF['Date']).max()
CNFstats['3min'] = CNF['CNF3_temp'].groupby(CNF['Date']).min()
CNFstats['3range'] = CNFstats['3max']-CNFstats['3min']

CNFstats['4max'] = CNF['CNF4_temp'].groupby(CNF['Date']).max()
CNFstats['4min'] = CNF['CNF4_temp'].groupby(CNF['Date']).min()
CNFstats['4range'] = CNFstats['4max']-CNFstats['4min']

CNFstats['5max'] = CNF['CNF5_temp'].groupby(CNF['Date']).max()
CNFstats['5min'] = CNF['CNF5_temp'].groupby(CNF['Date']).min()
CNFstats['5range'] = CNFstats['5max']-CNFstats['5min']

CNFstats['6max'] = CNF['CNF6_temp'].groupby(CNF['Date']).max()
CNFstats['6min'] = CNF['CNF6_temp'].groupby(CNF['Date']).min()
CNFstats['6range'] = CNFstats['6max']-CNFstats['6min']

CNFstats['7max'] = CNF['CNF7_temp'].groupby(CNF['Date']).max()
CNFstats['7min'] = CNF['CNF7_temp'].groupby(CNF['Date']).min()
CNFstats['7range'] = CNFstats['7max']-CNFstats['7min']

CNFstats['8max'] = CNF['CNF8_temp'].groupby(CNF['Date']).max()
CNFstats['8min'] = CNF['CNF8_temp'].groupby(CNF['Date']).min()
CNFstats['8range'] = CNFstats['8max']-CNFstats['8min']

CNFstats['9max'] = CNF['CNF9_temp'].groupby(CNF['Date']).max()
CNFstats['9min'] = CNF['CNF9_temp'].groupby(CNF['Date']).min()
CNFstats['9range'] = CNFstats['9max']-CNFstats['9min']

Set columns "SPx" to True only when both the daily max and daily range are below 1.5°C.

In [364]:
CNFstats['SP1'] = np.where((CNFstats['1max'] < 1.5) & (CNFstats['1range'] < 1.5),True, False)

CNFstats['SP2'] = np.where((CNFstats['2max'] < 1.5) & (CNFstats['2range'] < 1.5),True, False)

CNFstats['SP3'] = np.where((CNFstats['3max'] < 1.5) & (CNFstats['3range'] < 1.5),True, False)

CNFstats['SP4'] = np.where((CNFstats['4max'] < 1.5) & (CNFstats['4range'] < 1.5),True, False)

CNFstats['SP5'] = np.where((CNFstats['5max'] < 1.5) & (CNFstats['5range'] < 1.5),True, False)

CNFstats['SP6'] = np.where((CNFstats['6max'] < 1.5) & (CNFstats['6range'] < 1.5),True, False)

CNFstats['SP7'] = np.where((CNFstats['7max'] < 1.5) & (CNFstats['7range'] < 1.5),True, False)

CNFstats['SP8'] = np.where((CNFstats['8max'] < 1.5) & (CNFstats['8range'] < 1.5),True, False)

CNFstats['SP9'] = np.where((CNFstats['9max'] < 1.5) & (CNFstats['9range'] < 1.5),True, False)

To determine if the daily temperature max and range are below 1.5°C for 48 hours, compare the value of SPx for each row to that of  one row above and below. If the value of the current row is True and either the row before or after are also true, keep the value as True. Otherwise, set it to false.

In [365]:
CNFstats['SP1'] = np.where((CNFstats['SP1'] == True) & ((CNFstats['SP1'].shift(1) == True) | (CNFstats['SP1'].shift(-1) == True)), True, False)

CNFstats['SP2'] = np.where((CNFstats['SP2'] == True) & ((CNFstats['SP2'].shift(1) == True) | (CNFstats['SP2'].shift(-1) == True)), True, False)

CNFstats['SP3'] = np.where((CNFstats['SP3'] == True) & ((CNFstats['SP3'].shift(1) == True) | (CNFstats['SP3'].shift(-1) == True)), True, False)

CNFstats['SP4'] = np.where((CNFstats['SP4'] == True) & ((CNFstats['SP4'].shift(1) == True) | (CNFstats['SP4'].shift(-1) == True)), True, False)

CNFstats['SP5'] = np.where((CNFstats['SP5'] == True) & ((CNFstats['SP5'].shift(1) == True) | (CNFstats['SP5'].shift(-1) == True)), True, False)

CNFstats['SP6'] = np.where((CNFstats['SP6'] == True) & ((CNFstats['SP6'].shift(1) == True) | (CNFstats['SP6'].shift(-1) == True)), True, False)

CNFstats['SP7'] = np.where((CNFstats['SP7'] == True) & ((CNFstats['SP7'].shift(1) == True) | (CNFstats['SP7'].shift(-1) == True)), True, False)

CNFstats['SP8'] = np.where((CNFstats['SP8'] == True) & ((CNFstats['SP8'].shift(1) == True) | (CNFstats['SP8'].shift(-1) == True)), True, False)

CNFstats['SP9'] = np.where((CNFstats['SP9'] == True) & ((CNFstats['SP9'].shift(1) == True) | (CNFstats['SP9'].shift(-1) == True)), True, False)

The following commands return the dates where both no snow is present and snow was present the day before.

In [366]:
SDD1 = list(np.where((CNFstats['SP1']==False)&(CNFstats['SP1'].shift(1)==True))[0])
print("Stake 1:")
CNFstats.iloc[SDD1]

Stake 1:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-30,2.303,0.453,1.850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,False,False,False,False,False,False,False,False,False
2023-04-06,2.303,0.232,2.071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,False,False,False,False,False,False,False,False,False

In [367]:
SDD2 = list(np.where((CNFstats['SP2']==False)&(CNFstats['SP2'].shift(1)==True))[0])
print("Stake 2:")
CNFstats.iloc[SDD2]

Stake 2:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-28,0.784,0.784,0.000,1.003,-0.549,1.552,1.221,1.112,0.109,NaN,...,NaN,True,False,True,False,True,True,False,True,False
2023-02-20,0.784,0.674,0.110,1.764,0.563,1.201,1.003,0.893,0.110,NaN,...,NaN,True,False,True,False,True,True,False,False,False
2023-02-23,0.343,0.121,0.222,-1.570,-3.079,1.509,0.674,0.343,0.331,NaN,...,NaN,True,False,True,False,True,True,False,False,False

In [368]:
SDD3 = list(np.where((CNFstats['SP3']==False)&(CNFstats['SP3'].shift(1)==True))[0])
print("Stake 3:")
CNFstats.iloc[SDD3]

Stake 3:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-08,0.232,0.232,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,False,False,False,True,True,False,True,False

In [369]:
SDD4 = list(np.where((CNFstats['SP4']==False)&(CNFstats['SP4'].shift(1)==True))[0])
print("Stake 4:")
CNFstats.iloc[SDD4]

Stake 4:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-07,0.563,0.563,0.0,0.453,0.343,0.11,0.893,0.893,0.0,NaN,...,NaN,True,True,True,False,True,True,False,True,False

In [370]:
SDD5 = list(np.where((CNFstats['SP5']==False)&(CNFstats['SP5'].shift(1)==True))[0])
print("Stake 5:")
CNFstats.iloc[SDD5]

Stake 5:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-29,0.784,0.343,0.441,-0.662,-2.962,2.3,1.221,0.674,0.547,NaN,...,NaN,True,False,True,False,False,True,False,True,False
2023-03-22,0.784,0.563,0.221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,False,False,False,False,False,False,False,False
2023-04-04,0.453,-0.102,0.555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,False,False,False,False,True,False,False,False

In [371]:
SDD6 = list(np.where((CNFstats['SP6']==False)&(CNFstats['SP6'].shift(1)==True))[0])
print("Stake 6:")
CNFstats.iloc[SDD6]

Stake 6:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-21,0.674,0.563,0.111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,False,False,False,True,False,False,False,False
2023-03-29,1.112,0.232,0.880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,False,False,False,False,False,False,False,False
2023-04-06,2.303,0.232,2.071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,False,False,False,False,False,False,False,False,False

In [372]:
SDD7 = list(np.where((CNFstats['SP7']==False)&(CNFstats['SP7'].shift(1)==True))[0])
print("Stake 7:")
CNFstats.iloc[SDD7]

Stake 7:

Empty DataFrame
Columns: [1max, 1min, 1range, 2max, 2min, 2range, 3max, 3min, 3range, 4max, 4min, 4range, 5max, 5min, 5range, 6max, 6min, 6range, 7max, 7min, 7range, 8max, 8min, 8range, 9max, 9min, 9range, SP1, SP2, SP3, SP4, SP5, SP6, SP7, SP8, SP9]
Index: []

[0 rows x 36 columns]

In [373]:
SDD8 = list(np.where((CNFstats['SP8']==False)&(CNFstats['SP8'].shift(1)==True))[0])
print("Stake 8:")
CNFstats.iloc[SDD8]

Stake 8:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2023-02-20,0.784,0.674,0.11,1.764,0.563,1.201,1.003,0.893,0.11,NaN,...,NaN,True,False,True,False,True,True,False,False,False
2023-03-20,0.563,0.563,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,False,False,False,True,True,False,False,False

In [374]:
SDD9 = list(np.where((CNFstats['SP9']==False)&(CNFstats['SP9'].shift(1)==True))[0])
print("Stake 9:")
CNFstats.iloc[SDD9]

Stake 9:

,1max,1min,1range,2max,2min,2range,3max,3min,3range,4max,...,9range,SP1,SP2,SP3,SP4,SP5,SP6,SP7,SP8,SP9
Date,,,,,,,,,,,,,,,,,,,,,
2022-11-21,-0.774,-3.079,2.305,-0.549,-2.844,2.295,-0.102,-1.114,1.012,-0.887,...,1.593,False,False,True,False,False,True,False,False,False
2022-12-09,0.232,0.121,0.111,-0.213,-0.549,0.336,0.674,0.674,0.000,0.010,...,NaN,True,True,True,True,True,True,False,True,False